@import "./src/styles/variables";

.input {
  margin: 5px 0;
  width: 100%;
  padding: 8px;
  background-color: $backgroundDark;
  border: 1px solid $borderDark;
  border-radius: 3px;
  outline: none;
}

.error {
  margin-top: 5px;
  color: $textError;
}
