@import "variables";

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: $backgroundDark;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
