$backgroundDark: #fafafa;
$backgroundLite: #fff;
$borderDark: #dbdbdb;
$textGray: #8e8e8e;
$textBlack: #262626;
$textWhite: #fff;
$textError: #ed4956;
$textDarkBlue: #00376b;
$textLightBlue: #0095f6;
$buttonBlue: #0095F6;

